@import 'prism-dracula.css';

body {
    background-color: #242424 !important;
    font-family: "Nova Round" !important;
}

.primary-color {
    color: #87C9FF !important;
}

.secondary-color {
    color: #BEBEBE;
}

.terciary-color {
    color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 60px;
    column-gap: 60px;
}

@media (max-width: 810px) {
    #scroll, #latest-posts, #home-p2, #blog-sub {
      display: none !important;
    }

    #markdown {
        max-width: 300px !important;
    }

    #description {
        margin-top: 50px;
        width: 250px;
    }
}

