body {
    background-color: #242424 !important;
    font-family: "Nova Round" !important;
}

.primary-color {
    color: #87C9FF !important;
}

.secondary-color {
    color: #BEBEBE;
}

.terciary-color {
    color: #FFFFFF;
}