body {
    background-color: #242424 !important;
    font-family: "Nova Round" !important;
}

.primary-color {
    color: #87C9FF !important;
}

.secondary-color {
    color: #BEBEBE;
}

.terciary-color {
    color: #FFFFFF;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 60px;
    column-gap: 60px;
  }

@media (max-width: 810px) {
    #scroll, #latest-posts, #home-p2 {
      display: none !important;
    }

    #description {
        margin-top: 50px;
        width: 250px;
    }
  }